*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heads{
    display: flex;
    gap: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tic{
    color: rgb(214, 16, 16);
}
.tac{
    color: rgb(145, 255, 0);
}
.toe{
    color: rgb(30, 30, 211);
}

p{
    font-size: 80px;
}
.game{
    width: 35%;
    height: 70%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
    gap: 20px;
}
.selector{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selector button{
    border-radius: 10px;
    border: none;
    padding: 15px;
    font-size: 17px;
    background-color: rgba(165, 165, 165, 0.192);
    border: 2px solid black;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Vertical lines */
.grid-item{
    border: 2px solid white;
}

